<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Android SMS Hive</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="{{ STATIC_URL }}styles/main.css"/>
  </head>

  <body ng-app="etcApp">
    <div class="container">

        {% include "layout/external.html" %}

        {% block header %}
        {% include "layout/header.html" %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
        {% include "layout/footer.html" %}
        {% endblock %}

        {% block javascript %}
        <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
        <![endif]-->

        <script src="{{ STATIC_URL}}scripts/vendor.js"></script>
        <script src="{{ STATIC_URL}}scripts/scripts.js"></script>
        {% endblock %}

      </div>
</body>
</html>
