{% extends "base.html" %}

{% block content %}

<p class="lead thin-font">Добро пожаловать в профиль переадресации!</p>

{% if profile_updated %}
<div class="alert alert-success">Профиль обновлён!</div>
{% endif %}

{% if error_message %}
<p class="alert alert-danger"><strong>{{ error_message }}</strong></p>
{% endif %}

<form class="form-inline well" role="form" method="post"
  action="{% url 'profile' %}">
  {% csrf_token %}
  {{ form.non_field_errors}}

  <div class="row">

    <div class="form-group col-sm-4
      {% if form.login.errors %} has-error {% endif %}">
        <div class="input-group">
          <span class="input-group-addon addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          {{ form.login }}
        </div>
      </div>

      <div class="form-group col-sm-4
        {% if form.password.errors %} has-error {% endif %}">
        <div class="input-group">
          {{ form.password }}
          <span class="input-group-addon addon">
              <span class="glyphicon glyphicon-tower"></span>
          </span>
        </div>
      </div>

      <div class="form-group col-sm-4">
        <div class="input-group">
          <span class="input-group-addon addon">
              {# <span class="glyphicon glyphicon-cog"></span> #}
              Тип
          </span>
          {{ form.forwarding }}
        </div>
      </div>

  </div>

  <br/>

  <div class="row">

      <div class="form-group col-sm-5">
        <div class="input-group">
          <span class="input-group-addon addon">
            <span class="glyphicon glyphicon-globe"></span>
          </span>
          {{ form.host }}
        </div>
      </div>

      <div class="form-group col-sm-4
        {% if form.port.errors %} has-error {% endif %}">
        <div class="input-group">
          {{ form.port }}
          <span class="input-group-addon addon">
            <span class="glyphicon glyphicon-cog"></span>
          </span>
        </div>
      </div>

      <div class="form-group col-sm-3">
        <div class="input-group">
          <span class="input-group-addon addon">
              <span class="glyphicon glyphicon-transfer"></span>
          </span>
          {{ form.protocol }}
        </div>
      </div>

  </div>

  <br/>

  <div class="row">
    <div class="form-group col-sm-12 text-center">
      <button type="submit" class="btn btn-success btn-block">Обновить</button>
    </div>
  </div>

</form>

{% endblock %}

